_site/
/.quarto/
3_0_data/
3_1_data/
3_7_potree/
3_8_metashape/
3_9_QGIS/
5_0_unet/
5_3_unet/
8_2_api_keys/
4_1_modules/TreeLearn/

**/*.quarto_ipynb
**/*.jupyter_cache
**/*__pycache__
**/*index_cache

*DS_Store
**/*.DS_Store
/.luarc.json

*Unterschrift_Robin_Pfaff.png